* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #f9f9f9;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'cocogoose';
  src: url('public/fonts/Cocogoose\ Pro-trial.ttf') format('truetype');
}

.header {
  position: absolute;
  padding: 5%;
  color: #272a31;
  margin-bottom: 20px;
}

.header .menu-items {
  display: none;
}

.header i {
  cursor: pointer;
}

.header a img {
  display: none;
}

.topmost-nav {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background-color: #272a31;
  visibility: visible;
  opacity: 1;
  padding: 10%;
}

.modal .close {
  font-size: 40px;
  color: #fff;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.modal-list li {
  font-size: 26px;
  padding: 3%;
  border-bottom: 1px solid #fff;
}

.modal-list li a {
  text-decoration: none;
  color: #fff;
}

.modal-list .first-list-child a {
  color: #ec5242;
}

/* About */

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #272a31;
  padding: 8%;
  gap: 15px;
  font-family: 'Lato', sans-serif;
}

.about-logo p {
  padding: 0 10%;
  text-align: center;
}

.about-logo div {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #272a31;
  background-color: #ec5242;
}

.about-headline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: url('public/assets/images/bg-mobile.jpg') no-repeat;
  background-size: cover;
  padding: 30% 5% 2% 5%;
  height: 60vh;
}

.about-headline .about-headline-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  gap: 15px;
  color: #ec5242;
}

.about-headline .about-headline-title h1 {
  text-align: center;
  font-size: 48px;
}

.about-headline .about-headline-title p {
  font-size: 24px;
}

.about-headline .about-headline-details {
  display: flex;
  background-color: #fff;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  color: #272a31;
  text-align: center;
}

.about-headline .about-headline-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #272a31;
  text-align: center;
  line-height: 1.5rem;
  font-size: 14px;
}

.about-headline .about-headline-bottom p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 80%;
}

.about-headline .about-headline-bottom span {
  border-bottom: 1px solid #272a31;
  font-weight: 700;
}

/* headline */

.headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: url('public/assets/images/bg-mobile.jpg') no-repeat;
  background-size: cover;
  padding: 30% 5% 2% 5%;
  height: 60vh;
}

.headline div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline .headline-title {
  font-family: 'cocogoose', sans-serif;
}

.headline .headline-title h1,
.headline .headline-title p {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-wrap: wrap;
}

.headline .headline-title h1 {
  font-size: 11vw;
  background-image: url('public/assets/images/bg-text-overlay.png');
  background-position: top;
  -webkit-background-clip: text;
  color: transparent;
  padding-right: 20px;
}

.headline .headline-title p {
  color: #ec5242;
  font-size: 24px;
}

.headline .headline-details {
  display: flex;
  border: 2px solid #fff;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  color: #272a31;
  font-size: 18px;
}

.headline .headline-bottom {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.headline .headline-bottom .bottom-top {
  font-size: 24px;
  font-weight: 700;
}

/* about footer bottom */

.about-footer .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.about-footer .bottom div {
  padding: 5%;
  width: 50%;
}

.about-footer .bottom div img {
  width: 70px;
  height: 70px;
}

.about-footer .bottom p {
  width: 50%;
}

/* about footer top */

.about-footer .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: gray;
  background-color: #272a31;
}

.about-footer .top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-footer .top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: auto;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.about-footer .top ul li:hover {
  transform: scale(1.2);
}

.about-footer .top ul li img {
  width: 100px;
}

/* feature details */
.feature-singers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
  overflow-x: hidden;
  background-color: #fff;
}

.feature-singers .feature-title {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  text-align: center;
}

.feature-singers .singers-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-singers .singer-container {
  display: flex;
  gap: 20px;
}

.feature-singers .singer-container .performer-image {
  width: 100px;
  height: 90px;
  transition: all 0.5s ease-in-out;
}

.feature-singers .singer-container .performer-image:hover {
  transform: scale(1.5);
}

.feature-singers .singer-container .singer-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
}

.feature-singers .singer-container .singer-details h2 {
  color: #272a31;
}

.feature-singers .singer-container .singer-details .performer-activity {
  color: #ec5242;
  font-style: italic;
}

.feature-singers .singer-container .singer-details p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #272a31;
}

.feature-singers .singer-container .singer-details .performer-bottom-border {
  border: 1px solid #d3d3d3;
  width: 10%;
}

.feature-singers .singer-container .performer-image-container {
  background: url('public/assets/images/black-and-white.jpg') no-repeat;
  background-size: 50px 50px;
  padding: 12px;
  width: 25%;
}

.feature-singers .more-button {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 3%; 
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #d3d3d3;
}

.feature-singers .more-button i {
  color: #ec5242;
}

/* Main program */

.main-program {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  background-image: url('public/assets/images/bg-x.png');
  background-color: #272a31;
  gap: 5px;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.main-program .program-title {
  color: #fff;
}

/* border span */

.border-span {
  display: flex;
  align-self: center;
  width: 40px;
  border: 1px solid #ec5242;
}

.main-program .program-cards {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-program .program-cards .card {
  display: flex;
  background-color: #3c3f4675;
  color: #fff;
  align-items: center;
  padding: 3%;
  transition: all 0.5s ease-in-out;
}

.main-program .program-cards .card:hover {
  border: 2px solid #fff;
  margin-top: -1%;
}

.main-program .program-cards .card i {
  width: 15%;
}

.main-program .program-cards .card h3 {
  color: #ec5242;
  font-size: 18px;
  width: 35%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.main-program .program-cards .card p {
  width: 50%;
  padding-left: 5%;
}

.main-program .mobile-button {
  text-decoration: none;
  padding: 20px;
  background-color: #ec5242;
  font-size: 18px;
  width: 70%;
  text-align: center;
  color: #fff;
  margin: 10px 0;
}

.main-program .desktop-button {
  display: none;
}

.about-past-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10%;
  background-color: #fff;
}

.about-past-programs .past-program-title,
.about-past-programs .details {
  text-align: center;
  padding: 0 8%;
}

.about-past-programs .about-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 5%;
}

.about-past-programs .about-cards .about-card {
  width: 90%;
  height: 200px;
  border: 1px solid #272a31;
  padding: 5%;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-past-programs .about-cards .about-card:hover {
  transform: scale(1.1);
}

.about-past-programs .about-cards .about-card:first-child {
  background: url('public/assets/images/pd1.jpg') no-repeat;
}

.about-past-programs .about-cards .about-card:last-child {
  background: url('public/assets/images/pd7.jpg') no-repeat;
}

.about-past-programs .about-cards .about-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #fff;
}

.about-past-programs .about-cards .about-card a p {
  font-size: 20px;
  text-align: center;
}

/* footer bottom */

.footer .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.footer .bottom div {
  padding: 5%;
  width: 50%;
}

.footer .bottom div img {
  width: 70px;
  height: 70px;
}

.footer .bottom p {
  width: 50%;
}

/* footer top */

.footer .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: gray;
  background-color: #272a31;
}

.footer .top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer .top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: auto;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.footer .top ul li:hover {
  transform: scale(1.2);
}

.footer .top ul li img {
  width: 100px;
}

@media screen and (min-width: 768px) {
  /* header */
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
  }

  .header a img {
    display: block;
    width: 70px;
    height: auto;
  }

  .header i {
    display: none;
  }

  .header .menu-items {
    display: flex;
    justify-content: space-between;
    padding: 1% 9%;
  }

  .header .menu-items .close {
    display: none;
  }

  .header .menu-items ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header .menu-items ul li {
    list-style: none;
  }

  .header .menu-items ul li a {
    text-decoration: none;
    color: #272a31;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }

  .header .menu-items ul .last-list-child a {
    padding: 10px;
    border: 3px solid #ec5242;
    color: #ec5242;
  }

  .header .menu-items ul .first-list-child a {
    color: #ec5242;
  }

  .header .topmost-nav {
    display: flex;
    background-color: #272a31;
  }

  .header .topmost-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    padding: 1% 10%;
  }

  .header .topmost-nav ul li {
    list-style: none;
    color: #fff;
  }

  .header .topmost-nav ul li i {
    color: #fff;
  }

  /* headline */
  .headline {
    padding: 9%;
    margin-bottom: 30px;
    background: url('public/assets/images/bg-deskop.jpeg') no-repeat;
    background-size: cover;
    height: 80vh;
  }

  .headline .headline-title p {
    font-size: 36px;
  }

  .headline .headline-title h1 {
    font-size: 72px;
  }

  .headline .headline-details {
    width: 60%;
    font-size: 22px;
    line-height: 1.6;
    padding: 2%;
  }

  .headline .headline-bottom {
    gap: 20px;
    font-size: 24px;
  }

  .headline .headline-bottom .bottom-top {
    font-size: 48px;
  }

  /* about headline */
  .about-headline {
    margin-bottom: 30px;
    background: url('public/assets/images/bg-deskop.jpeg') no-repeat;
    background-size: cover;
    padding: 15%;
  }

  .about-headline .about-headline-title p {
    display: none;
  }

  .about-headline .about-headline-title h1 {
    font-size: 72px;
  }

  .about-headline .about-headline-details {
    justify-content: center;
  }

  .about-headline .about-headline-bottom p {
    width: 100%;
  }

  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: gray;
    background-color: #272a31;
  }

  .footer .top ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .footer .top ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: auto;
    color: gray;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .footer .top ul li:hover {
    transform: scale(1.2);
  }

  /* about footer bottom */

  .footer .bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer .bottom div {
    display: flex;
    padding: 3%;
    width: 50%;
    justify-content: center;
  }

  .footer .bottom div img {
    width: 100px;
    height: 100px;
    color: #f9f9f9;
  }

  .footer .bottom p {
    width: 50%;
    font-size: 20px;
  }

  /* main program */
  .main-program {
    padding: 5% 9%;
  }

  .main-program h2 {
    font-size: 32px;
  }

  .main-program .program-cards {
    flex-direction: row;
    gap: 3px;
    margin: 50px 0;
    justify-content: center;
  }

  .main-program .program-cards .card {
    flex-direction: column;
    gap: 20px;
    min-width: 15%;
  }

  .main-program .program-cards .card i {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .main-program .program-cards .card h3 {
    width: 100%;
    min-height: 50px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .main-program .program-cards .card p {
    width: 100%;
    text-align: center;
  }

  .main-program .mobile-button {
    display: none;
  }

  .main-program .desktop-button {
    text-decoration: none;
    display: flex;
    color: #fff;
    justify-content: center;
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }

  /* about logo */

  .about-logo {
    background-color: #fff;
  }

  .about-logo span {
    margin-bottom: 30px;
  }

  .about-logo .logo-details {
    margin-bottom: 30px;
  }

  .about-logo .logo-image {
    width: 60%;
  }

  /* about past programs */

  .about-past-programs .about-cards {
    flex-direction: row;
    width: 70%;
  }

  .about-past-programs .about-cards .about-card {
    width: 90%;
    height: 200px;
    border: 1px solid #272a31;
    padding: 5%;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-footer .top {
    display: none;
  }

  .about-footer .bottom {
    background-color: #272a31;
    color: #fff;
  }

  .about-footer .bottom div {
    display: flex;
    justify-content: center;
  }

  /* feature details */

  .feature-singers .feature-title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .feature-singers .singers-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 7% 7% 4% 7%;
    justify-items: center;
  }

  .feature-singers .singer-container {
    width: 100%;
  }

  .feature-singers .more-button {
    display: none;
  }
}
