* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #d3d3d3;
}

.header {
  padding: 5%;
  color: #272a31;
  margin-bottom: 20px;
}

.header .menu-items {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  margin-bottom: 40px;
}

.headline div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline .headline-title {
  color: #ec5242;
}

.headline .headline-title h1,
.headline .headline-title p {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-wrap: wrap;
}

.headline .headline-title h1 {
  font-size: 48px;
}

.headline .headline-title p {
  font-size: 24px;
}

.headline .headline-details {
  display: flex;
  border: 1px solid #fff;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  color: #272a31;
}

.headline .headline-bottom {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.headline .headline-bottom .bottom-top {
  font-size: 24px;
  font-weight: 700;
}

.main-program {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-image: url('public/assets/images/bg-x.png');
  background-color: #272a31;
  gap: 15px;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.main-program h2 {
  color: #fff;
}

.main-program span {
  display: flex;
  align-self: center;
  width: 50px;
  border: 1px solid #ec5242;
}

.main-program .program-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-program .program-cards .card{
  display: flex;
  background-color: #50545c75;
  color: #fff;
  align-items: center;
  padding: 3%;
}

.main-program .program-cards .card i {
  width: 15%;
}

.main-program .program-cards .card h3{
  color: #ec5242;
  font-size: 18px;
  width: 35%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.main-program .program-cards .card p {
  width: 50%;
  padding-left: 5%;
}

.main-program a {
  text-decoration: none;
  padding: 20px;
  background-color: #ec5242;
  font-size: 18px;
  width: 70%;
  text-align: center;
  color: #fff;
  margin: 10px 0;
}

/* About */

.about-headline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #d3d3d3;
  align-items: center;
  padding: 5%;
  margin-bottom: 20px;
}

.about-headline .about-headline-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  gap: 15px;
  color: #ec5242;
}

.about-headline .about-headline-title h1 {
  text-align: center;
  font-size: 48px;
}

.about-headline .about-headline-title p {
  font-size: 24px;
}

.about-headline .about-headline-details {
  display: flex;
  background-color: #fff;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  color: #272a31;
}

.about-headline .about-headline-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #272a31;
  text-align: center;
  line-height: 1.5rem;
  font-size: 14px;
}

.about-headline .about-headline-bottom p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.about-headline .about-headline-bottom span{
  border-bottom: 1px solid #272a31;
}

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #272a31;
  padding: 8%;
  gap: 15px;
  font-family: 'Lato', sans-serif;
}

.about-logo span {
  display: flex;
  align-self: center;
  width: 40px;
  border: 1px solid #ec5242;
}

.about-logo p {
  padding: 0 10%;
  text-align: center;
}

.about-logo div{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #272a31;
} 

.past-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10%;
  background-color: #fff;
}

.past-programs h2, .past-programs p {
  text-align: center;
  padding: 0 8%;
}

.past-programs span {
  display: flex;
  align-self: center;
  width: 40px;
  border: 1px solid #ec5242;
}

.past-programs .about-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 5%;
}

.past-programs .about-cards .about-card {
  width: 90%;
  height: auto;
  border: 1px solid #272a31;
  padding: 5%;
}

.past-programs .about-cards .about-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #272a31;
}

.past-programs .about-cards .about-card a p {
  font-size: 20px;
}

.about-footer .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.about-footer span {
  display: flex;
  align-self: center;
  width: 40px;
  border: 1px solid #ec5242;
}

.about-footer .top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.about-footer .top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: auto;
}

.about-footer .top ul li img {
  width: 100px;
}

.about-footer .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.about-footer .bottom div{
  padding: 5%;
  width: 50%;
}

.about-footer .bottom div img{
  width: 70px;
  height: 70px;
}

.about-footer .bottom p {
  width: 50%;
}

